* {
	margin: 0;
	padding: 0;
}
html,body,#app {
	height: 100%;
	margin: 0;
	padding: 0;
}
.hd-button {
	@apply bg-blue-600 text-white w-full py-2 rounded-md hover:bg-blue-500 duration-300;
	&.g-danger {
		@apply bg-indigo-500 hover:bg-indigo-600
	}
}